{% extends "base.html" %}

{% block double_defends %}
<div class="container">
    <h1 style="width: 390px; margin-left: auto; margin-right: auto">Оформление каюты</h1>
    {% if sex == 'male' %}
        {% if age < 21 %}
            {% set color = 'SkyBlue' %}
            {% set image = 'child_mars.jpg' %}
        {% elif age >= 21 %}
            {% set color = 'DeepSkyBlue' %}
            {% set image = 'adult_mars.jpg' %}
        {% endif %}
    {% elif sex == 'female' %}
        {% if age < 21 %}
            {% set color = 'Fuchsia' %}
            {% set image = 'child_mars.jpg' %}
        {% elif age >= 21 %}
            {% set color = 'BlueViolet' %}
            {% set image = 'adult_mars.jpg' %}
        {% endif %}
    {% endif %}
    <table class="table table-bordered" style="max-width: 700px; margin-left: auto; margin-right: auto">
        <tr>
            <td>Цвет стен</td>
            <td>Эмблема</td>
        </tr>
        <tr>
            <td style="background-color: {{color}}; width: 300px"></td>
            <td>
                <img src="/static/img/{{ image }}" alt="" style="max-width: 400px">
            </td>
        </tr>
    </table>
</div>
{% endblock %}